snippet html "Html base" !b
<!DOCTYPE html>
<html>		
	
	<head>

		<title></title>
		
		<link rel="stylesheet" href="style.css" type="text/css" media="all">
	
	</head>

<body>	
	
	<h1>OI!!!</h1>

</body>

</html>
endsnippet
